<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.aaronoe.seek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="de.aaronoe.seek.SplashApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_square"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.aaronoe.seek.ui.mainnav.NavigationActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="unsplash.com"
                    android:path="/" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
        <activity
            android:name="de.aaronoe.seek.ui.photodetail.PhotoDetailActivity"
            android:parentActivityName="de.aaronoe.seek.ui.mainnav.NavigationActivity"
            android:theme="@style/Theme.Swipe.Back">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.seek.ui.mainnav.NavigationActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name="de.aaronoe.seek.receivers.DownloadFileReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="de.aaronoe.seek.ui.collectiondetail.CollectionDetailActivity"
            android:label="@string/title_activity_collection_detail"
            android:parentActivityName="de.aaronoe.seek.ui.mainnav.NavigationActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.seek.ui.mainnav.NavigationActivity" />
        </activity>
        <activity
            android:name="de.aaronoe.seek.ui.preferences.PrefActivity"
            android:parentActivityName="de.aaronoe.seek.ui.mainnav.NavigationActivity"
            android:theme="@style/Widget.AppCompat.Light.ActionBar.Solid">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.aaronoe.seek.ui.mainnav.NavigationActivity" />
        </activity>
        <activity
            android:name="de.aaronoe.seek.ui.search.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_search"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="de.aaronoe.seek.ui.search.results.SearchResultActivity" />
        <activity android:name="de.aaronoe.seek.ui.userdetail.UserDetailActivity" />
    </application>

</manifest>